* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(98, 97, 97);

}

/* .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(98, 97, 97);
} *//*     si quiero que algo ocupe la pantalla */


.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
   /*  width: 80vw; */
   align-items: center;
}

.right-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
}

.third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

img {
    width: 100%;
}

.flag {
    height: auto;
    width: 10vw;
    /*     background-color: #f1f1f1; */    
    /* margin: 10px; */
       /*  padding: 20px;
        font-size: 30px; */
       /*  width: 150px; */
      /*  height: 140px;
       width: auto; */
       
    }








